.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  color: #ecf0f1; /* Light text color */
  gap: 1vw;
}

.inner-header-container {
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  gap: 1vw; 
}

.coin-name {
  font-size: 5vh;
  font-weight: bold;
  color: #ecf0f1; /* Light color for readability */
  margin: 0;
}

.coin-price-positive {
  font-size: 5vh;
  font-weight: bold;
  color: #2ecc71; /* Green color to signify price */
  margin: 0;
  text-align: right; /* Align price to the right */
}

.coin-price-negative {
  font-size: 5vh;
  font-weight: bold;
  color: #cc2e2e; /* Green color to signify price */
  margin: 0;
  text-align: right; /* Align price to the right */
}

.button-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute buttons evenly */
  margin-bottom: 20px; /* Add some space below the button container */
  padding-block: 2vh;
}

.timeframe-button {
  flex: 1 1 48%; /* Each button will take up 48% of the available width, allowing for two per row */
  margin: 5px; /* Space between buttons */
  padding: 12px 20px;
  font-size: 2vh;
  text-align: center;
  box-shadow: 3px 3px 0px #a43cff; /* solid shadow without blur */
  background: linear-gradient(135deg, #1e1e1f, #1b1b1c, #29282b);  
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.timeframe-button.selected {
  background: linear-gradient(135deg, #1e1e1f, #1b1b1c, #29282b);  
  box-shadow: 3px 3px 0px #f4f3f5; /* solid shadow without blur */
}

/* Chart container styling */
.chart-container {
  position: relative; 
  height: 55vh; 
  width: 100%;
}

canvas {
  width: 100% !important; /* Ensure the canvas takes up the full width */
  max-width: 1200px; /* Limit the max width to prevent it from becoming too wide */
}


.seasonality-container {
  position: relative; 
  height: 70vh; 
  width: 100%;
}


/* INFO */
h4{
  margin-bottom: 4vh;
  font-size: 1.4em;
  font-weight: bold;

}

.metrics {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 3vh;
  flex-direction: row;
  gap: 1vh;

}

.metric-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 3vh;
  width: 22%; /* Default width for larger screens (4 metrics in a row) */
  text-align: center;
  box-shadow: 3px 3px 0px #a43cff; /* Solid shadow without blur */
  background: linear-gradient(135deg, #1e1e1f, #1b1b1c, #29282b);
  transition: all 0.3s ease; /* Smooth transition for hover */
}

/* .metric-container:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
  transform: translateY(-5px); 
} */

.metric-container .data {
  font-weight: bold;
  margin-bottom: 2vh;
  font-size: 1.1em;
  color: #fff; /* White text for better contrast */
}

.metric-container .value {
  font-size: 1em;
  color: #f1f1f1;
  margin-bottom: 1vh;
}

.metric-container.dominance .value {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 2vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95); /* Dark overlay with 50% opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay-message {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Slightly darker background for the text */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.datagrid-cell, .datagrid-action-overflow, 
.datagrid-empty, .datagrid-container, .action-item,
.datagrid-footer, .datagrid-column	{
    background-color: #1b1b1c;
    padding: 2vh; /* Adds more padding for a spacious row layout */
    font-size: 1em; /* Optional: Adjust font size if needed */
    background: #1b1b1c;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
  z-index: 9999; /* Make sure it's above all content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  display: flex;
  flex-direction: row;
}

.loading-text {
  margin-left: 10px;
  color: white;
  font-size: 16px;
}

.sticky-column {
  text-decoration: underline; /* Optional: underline the text */
  cursor: pointer; /* Show pointer cursor on hover */
}

.sticky-column:hover {
  text-decoration: none; /* Remove underline on hover for a subtle effect */
}

.green {
  font-weight: bold;
  color: green;
}

.red {
  font-weight: bold;
  color: red;
}


/* Styling for larger screens */
@media (max-width: 768px) {

  .header-container {
    gap: 2vh;
    margin-bottom: 1vh;
  }

  .button-selection {
    font-size: 16px;
    flex-wrap: wrap; /* Allow the buttons to wrap into multiple lines */
    justify-content: space-between; /* Distribute buttons evenly */
    margin-bottom: 1vh; /* Add some space below the button container */
  }
  
  .timeframe-button {
    flex: 1 1 22%; /* Each button will take up 22% of the available width on larger screens */
    margin: 5px; /* Small space between buttons */
  }

  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .coin-price {
    margin-top: 10px;
  }

  .seasonality-container {
    height: 70vh; /* Shorter height for the profile chart */
  }

  .back-button{
    background-color: transparent; /* No background color */
    border: none; /* Removes the border */
    padding: 10px; /* Padding for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Align the icon inside the button */
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
  }
  

  /* Stack metrics vertically */
  .metrics {
    flex-direction: column;
    gap: 3vh;
    flex-wrap: wrap; /* Ensures metrics wrap when necessary */

  } 

  .metric-container, .list-container {
      width: 100%;
  }

  .metric-container .data {
      font-size: 1.8em;
  }
  
  .metric-container .value {
      font-size: 1.6em;
      padding-top: 10px;
  }


  .inner-header-container {
    flex-direction: column; 
    align-items: center;
    gap: 1vw; 
  }
 
  .datagrid-cell, .datagrid-action-overflow, 
    .datagrid-empty, .datagrid-container, .action-item,
    .datagrid-footer, .datagrid-column , .datagrid-placeholders {
        padding: 2.2vh; /* Adds more padding for a spacious row layout */
        font-size: 1.2em; /* Optional: Adjust font size if needed */
  }

  .sticky-column{
    position: sticky;
    left: 0;
    z-index:2;
  }
    

}
