<!-- header -->
<header class="fixed-header">
    <div class="row justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img src="../../../assets/img/logo.png" alt="logo" class="logo ">
            <h3>Sonar</h3> 
        </div>
        <nav class="nav-menu text-center">
            <a href="/marketing#banner" class="h4 mx-4 text-white">Product</a>
            <a href="/marketing#testimonials" class="h4 mx-4 text-white">Testimonials</a>
            <a href="/marketing#pricing" class="h4 mx-4 text-white">Pricing</a>
            <a href="/marketing#contact" class="h4 mx-4 text-white">Contact</a>
        </nav>    
        <button class="login ">Login</button>
    </div>
</header>

<!-- banner -->
<div class="jumbotron jumbotron-fluid custom-purple" id="banner">
    <div class="overlay"> </div> 
    <div class="container mt-5">

        <!-- Right side (Text) -->
        <div class="text-container ml-5">
            <h1 class="text-white mt-5">
                Discover Sonar
            </h1>
            <h6 class="my-2">
                Easily find the most promising cryptocurrencies with our intelligent scoring system, detailed volume profiles, and customizable watchlists. 
                Track coins with the highest growth potential and make informed decisions to maximize your profits in the crypto market. 
            </h6>
            <button class="login my-4 btn-large">Get Started</button>
        </div>

        <!-- Left side (Image) -->
        <!--  <div class="image-container">
            <img src="../../../assets/img/banner.jpg" alt="Crypto Sonar" class="centered-image">
        </div> -->



</div>

</div>

<!-- client -->
<div class="jumbotron jumbotron-fluid partners  mt-0"  >
    <div class="container p-0">
        <div class="row">
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-1.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-2.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-3.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-4.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-5.png" class="mx-auto d-block">
            </div>
            <div class="col-sm-4 col-md-2 py-2 align-self-center">
                <img src="../../../assets/img/client-6.png" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<!-- three-blcok -->
<div class="p-5 mb-0" style="background-color: #ffffff !important; color:black">
    <h2>Key Features for Smarter Investing</h2>
    <div class="row">
        <div  class="col-md-4 text-center">
            <img src="../../../assets/img/smart-protect-1.jpg" alt="Anti-spam" class="mx-auto">
            <h4>In-Depth Volume Profile for Strategic Insights</h4>
            <p>Visualize trading activity to identify high-demand coins and spot potential profit opportunities.</p>
       </div>
        <div class="col-md-4 text-center">
            <img src="../../../assets/img/smart-protect-2.jpg" alt="Phishing Detect" class="mx-auto">
            <h4>Smart Scores for Higher Profit Potential</h4>
            <p>Ranks coins by strength and stability, so you can focus on those with the highest profit potential.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="../../../assets/img/smart-protect-3.jpg" alt="Smart Scan" class="mx-auto">
            <h4>Customizable Categories and Insightful Market Trends</h4>
            <p>Organize coins that matter to you and track top growth opportunities with personalized watchlists.</p>
        </div>
    </div>
</div>

<!-- 1 feature -->
<div class="jumbotron jumbotron-fluid feature mt-0"  id="feature-first">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div class="col-md-6 text-center">
                <h2> Maximizing Earning Potential with Smart Scores</h2>
                <p class="text-left">Gain a Winning Edge with Smart Scores Description: Discover how our system scores each crypto to highlight those with higher earning potential. By analyzing seasonal trends and current market data, we continuously update scores to 
                    show you the strongest coins right now, helping you choose investments with the best odds of success.</p>
                <button class="btn-large login mt-4">Explore Features</button>
            </div>
            <div class="col-md-6 align-self-center">
                <img src="../../../assets/img/feature-1.png" alt="Take a look inside" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>
<!-- 2 feature -->
<div class="jumbotron jumbotron-fluid feature mt-0" id="feature-last">
    <div class="container">
        <div class="row justify-content-between text-center text-md-left">
            <div class="col-md-6 flex-md-last text-center">
                <h2 class="text-white">Personalized Watchlist and Powerful Insights</h2>
                <h6 class="text-left">
                    A Watchlist Tailored to Your Goals Description: Build a customized watchlist and let our system highlight top-performing 
                    cryptos for you. As market conditions change, we&rsquo;ll update the scores and rankings for each coin in your list, so you&rsquo;re always aware of the best investment opportunities tailored to your interests.
                </h6>
                <button class="btn-large login mt-4">Learn More</button>
            </div>
            <div  class="col-md-6 align-self-center flex-md-first">
                <img src="../../../assets/img/feature-2.png" alt="Safe and reliable" class="mx-auto d-block">
            </div>
        </div>
    </div>
</div>

<!-- testimonials -->
<div class="jumbotron jumbotron-fluid mt-0" id="testimonials">
    <div class="container">
        <h2 class="text-white">What Our Users Say</h2>
        <div class="carousel mb-5">
            <ul class="slides">
            <input type="radio" name="radio-buttons" id="img-1" checked />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-2" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-2" />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://content.r9cdn.net/rimg/dimg/db/02/06b291e8-city-14912-171317ad83a.jpg?width=1750&height=1000&xhint=3040&yhint=2553&crop=true">
                </div>
                <div class="carousel-controls">
                <label for="img-1" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-3" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-3" />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://speakzeasy.files.wordpress.com/2015/05/twa_blogpic_timisoara-4415.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-2" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-4" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <input type="radio" name="radio-buttons" id="img-4" />
            <li class="slide-container">
                <div class="slide-image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Timisoara_-_Regional_Business_Centre.jpg">
                </div>
                <div class="carousel-controls">
                <label for="img-3" class="prev-slide">
                    <span>&lsaquo;</span>
                </label>
                <label for="img-1" class="next-slide">
                    <span>&rsaquo;</span>
                </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
                <label for="img-4" class="carousel-dot" id="img-dot-4"></label>

            </div>
            </ul>
        </div>
    </div>
</div>

<!-- price table -->
<div class="pricing-table mt-0" id="pricing">
    <h2>Choose Your Plan</h2>
    <div class="row m-0">
        <div class="col-md-4 text-center py-4 mt-5">
            <h4 class="my-4">BASIC</h4>
            <p class="font-weight-bold">$<span class="display-2 font-weight-bold">40</span> / MO.</p>
            <ul class="list-unstyled">
                <li><p>Access to all scores and trading signals</p></li>
                <li><p>No volume profile</p></li>
                <li><p>No seasonality tool</p></li>
            </ul>
            <button class="btn-large login mt-4">Start Free Trial</button>
        </div>
        <div class="col-md-4 text-center py-4 mt-5 rounded" id="pricing__premium">
            <h4 class="my-4 text-white">PRO</h4>
            <div class="cp">
                $
                <span class="display-2 font-weight-bold text-white">60
                </span> 
                / MO.</div>
            <ul class="list-unstyled">
                <li><h6>Access to all features</h6></li>
                <li><h6>Volume profile insights</h6></li>
                <li><h6>Seasonality analysis</h6></li>
            </ul>
            <button class="btn-large login mt-4">Get Started</button>
        </div>
        <div class="col-md-4 text-center py-4 mt-5">
            <h4 class="my-4">FOREVER</h4>
            <p class="font-weight-bold">$<span class="display-2 font-weight-bold">150</span> </p>
            <ul class="list-unstyled">
                <li><p>Access to all scores and trading signals</p></li>
                <li><p>No volume profile</p></li>
                <li><p>No seasonality tool</p></li>
            </ul>
            <button class="btn-large login mt-4">Join Now</button>

        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer mt-0">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          fb
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          tw
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          lin
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          ins
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <h6 >&copy;2021 Nadine Coelho | All Rights Reserved</h6>
</footer> 