/* Contenitore delle metriche, con layout flex per disposizione orizzontale */

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-container{
    padding: 10px;
    display: flex; 
    flex-direction:row; 
    align-items: center;
    gap: 10px;

}

.metric {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block: 5vh;
    gap: 1vh;
}
  
.metric-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 3vh;
    width: 22%; /* Default width for larger screens (4 metrics in a row) */
    text-align: center;
    box-shadow: 3px 3px 0px #a43cff; /* Solid shadow without blur */
    background: linear-gradient(135deg, #1e1e1f, #1b1b1c, #29282b);
    transition: all 0.3s ease; /* Smooth transition for hover */
}
  
/* .metric-container:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 
    transform: translateY(-5px);
} */
  
.metric-container .data {
    font-weight: bold;
    margin-bottom: 2vh;
    font-size: 1.4em;
}

.metric-container .value {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 0;
}
  

@media (max-width: 768px) {
    .metric {
        flex-direction: column;
        gap: 3vh;
    }

    .metric-container {
        width: 100%;
    }

    .metric-container .data {
        font-size: 1.8em;
        padding-bottom: 10px;
        color: #a43cff;
    }

    .metric-container .value {
        font-size: 1.6em;
    }

}
