// src/styles/_colors.scss

// Variabili di colore personalizzate
$primary: #ff39de;  // Blu principale
$primary-light: #3d64d19c;  // Blu principale
$primary-shadow: #ff39de5e;  // Blu principale
$text-dark: #312929;      // Testo scuro
$text-light: #ffffff;      // Testo scuro
$background: #1f1f1f;  // Sfondo scuro
$background-light: #2b2b2b;  // Sfondo scuro
$border: #ffffff52;      // Testo scuro

// Esportiamo le variabili come CSS per Tailwind
:root {
    --primary: #{$primary};
    --primary-light: #{$primary-light};
    --primary-shadow: #{$primary-shadow};
    --text-dark: #{$text-dark};
    --text-light: #{$text-light};
    --background: #{$background};
    --background-light: #{$background-light};
    --border: #{$border};
}
