<clr-modal [(clrModalOpen)]="isModalOpen">
    <h3 class="modal-title">{{modalTitle}}</h3>
    <div class="modal-body">
        <div style="overflow-y: scroll;">{{modalBody}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="isModalOpen = false">Close</button>
    </div>
</clr-modal>

<p>Withdrawal <button class="btn btn-link" (click)="withdrawal_messages.length = 0">Clear</button></p>
<div class="limit-height">
    <clr-datagrid class="datagrid-compact">
        <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="descSort">Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'message'">Message</clr-dg-column>
        <clr-dg-column>Data</clr-dg-column>

        <clr-dg-row *clrDgItems="let record of withdrawal_messages">
            <clr-dg-cell>{{ record.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</clr-dg-cell>
            <clr-dg-cell>{{ record.message }}</clr-dg-cell>
            <clr-dg-cell><a href="javascript://" (click)="viewData(record)">View Data</a></clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

<p>Urgent <button class="btn btn-link" (click)="urgent_messages.length = 0">Clear</button></p>
<div class="limit-height-small">
    <clr-datagrid class="datagrid-compact">
        <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="descSort">Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'message'">Message</clr-dg-column>
        <clr-dg-column>Data</clr-dg-column>

        <clr-dg-row *clrDgItems="let record of urgent_messages">
            <clr-dg-cell>{{ record.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</clr-dg-cell>
            <clr-dg-cell>{{ record.message }}</clr-dg-cell>
            <clr-dg-cell><a href="javascript://" (click)="viewData(record)">View Data</a></clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

<p>Balance KO <button class="btn btn-link" (click)="balance_messages.length = 0">Clear</button></p>
<div class="limit-height-small">
    <clr-datagrid class="datagrid-compact">
        <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="descSort">Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'message'">Message</clr-dg-column>
        <clr-dg-column>Data</clr-dg-column>

        <clr-dg-row *clrDgItems="let record of balance_messages">
            <clr-dg-cell>{{ record.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</clr-dg-cell>
            <clr-dg-cell>{{ record.message }}</clr-dg-cell>
            <clr-dg-cell><a href="javascript://" (click)="viewData(record)">View Data</a></clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

<p>No trading enabled <button class="btn btn-link" (click)="notrading_messages.length = 0">Clear</button></p>
<div class="limit-height-small">
    <clr-datagrid class="datagrid-compact">
        <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="descSort">Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'message'">Message</clr-dg-column>
        <clr-dg-column>Data</clr-dg-column>

        <clr-dg-row *clrDgItems="let record of notrading_messages">
            <clr-dg-cell>{{ record.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</clr-dg-cell>
            <clr-dg-cell>{{ record.message }}</clr-dg-cell>
            <clr-dg-cell><a href="javascript://" (click)="viewData(record)">View Data</a></clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

<p>Pair found (opportunity running) <button class="btn btn-link" (click)="pairfound_messages.length = 0">Clear</button></p>
<div class="limit-height-small">
    <clr-datagrid class="datagrid-compact">
        <clr-dg-column [clrDgField]="'date'" [clrDgSortOrder]="descSort">Date</clr-dg-column>
        <clr-dg-column [clrDgField]="'message'">Message</clr-dg-column>
        <clr-dg-column>Data</clr-dg-column>

        <clr-dg-row *clrDgItems="let record of pairfound_messages">
            <clr-dg-cell>{{ record.date | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</clr-dg-cell>
            <clr-dg-cell>{{ record.message }}</clr-dg-cell>
            <clr-dg-cell><a href="javascript://" (click)="viewData(record)">View Data</a></clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

