<div class="login-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login">
        <img src="assets/burns.png" alt="Burns" />
        <section class="title">
            <!-- These could be heading elements. -->
            <div class="welcome">KAGGRY</div>
            <div class="hint">Arbitrator tool</div>
        </section>
        <div class="login-group">
            <clr-input-container>
                <label class="clr-sr-only">E-mail</label>
                <input type="text" formControlName="email" autocomplete="username" name="username" clrInput placeholder="Enter e-mail" />
            </clr-input-container>
            <clr-password-container>
                <label class="clr-sr-only">Password</label>
                <input type="password" formControlName="password" autocomplete="current-password" name="password"
                  clrPassword placeholder="Enter password"/>
            </clr-password-container>
            
            <div *ngIf="error!=''">
              <div class="error active">{{ error }}</div>
            </div>
          
            <button [clrLoading]="loading" type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>
</div>